@font-face {
  font-family: 'Aka-AcidGR-Real Adult';
  src: url('fonts/Aka-AcidGR-RealAdult.ttf.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*{
  text-decoration: none;
  color: #000;
}
body {
  position: relative;
  z-index: 0;
}

header{
  position:relative;
    width: 1280px;
    height: 80px;
    padding: 0px 20px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}

nav {
  position: absolute;
  right:  1px;
  top: 50%;
  transform: translateY(-50%);
}

nav ul {  
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20px;
}

h1{
  font-family:'Aka-AcidGR-Real Adult', sans-serif ;
}
h2{
  font-family:'Helvetica', sans-serif;
  line-height: 0.4;
}
h3 {
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  font-style: oblique;
}
p{
  margin-top: 0;
  margin-bottom: 0px;
}


section{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 180px;
  margin-bottom: 105px;
}
.project-line{
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: center;
  
}

.container {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
}

.container img {
  position: absolute;
  width: 120px;
  height: 90px;
  object-fit: cover;
}
/*positions*/

.photo1{
  top: 10px;
  left: 30px;
}
.photo2{
 top: 30px;
 left: 750px;
}
.photo3{
top: 80px;
right: 30px;
}
.photo4{
  top: 100px;
  left: 400px;
}
.photo5{
  top:180px;
  left: 80px;
}
.photo6{
  top: 150px;
  right: 550px;
}
.photo7{
  top: 180px;
  right: 190px;
}
.photo8{
  bottom: 130px;
  left: 180px;
}
.photo9{
  bottom: 20px;
  left: 10px;
}
.photo10{
  bottom: 80px;
  right: 400px;
}
.photo11{
  bottom: 40px;
  right: 40px;
}




footer{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding-bottom: 10px;
}